/*main css*/
body{
	background-color:rgb(223,228,238);
}
.card{
	background-color: rgb(255,255,255);
	box:shadow
}
.item{
	background-color: rgba(0,0,0,0);	
}
.item a{
	color: rgb(223,228,238);
	font-weight: bold;
}
.btn .btn-block{
	background-color:#FFF9C4;
}

.pic .img-circle{
	box-shadow:10px 10px 15px #888888;
}
.btn-primary{
	background-color: rgb(255, 138, 128);
	color: #FAFAFA;
	border-color: #FF3D00;
	border: 0px 0px 3px 0px;
}
}
.btn-primary:active{
	background-color: #FF8A80;
}
.btn-primary:hover{
	background-color: #FF8A80;
}
.qbar{
	border-style: solid;
    border-width: 0px 0px 0px 0px;
   	opacity: 1.0;
   	border-color: 
}
.qbar.input:focus{
	opacity: 0.9;
	border-color: #E57373;
	border-width: 0px 0px 3px 0px;
}

#signInBg {
	background-color:rgba(0,0,0,0);
	width:100vw; 
	height:100vh; 
	padding-left:20vw; 
	padding-right: 20vw; 
	padding-bottom: 20vh; 
	position:absolute;
}

#signInButton {
	background-color: rgba(252,252,255,0.8);
	border: 5px solid rgba(93,128,191,0.3);
	border-radius: 10px;
	height:50vh; 
	margin-top:30vh; 
	font-size: 3.5rem; 
	color:rgb(55,99,151);
}

#background {
	background-image: url("http://3.bp.blogspot.com/-YbsM3j2lU1w/UhqIUlhT-aI/AAAAAAAABD0/FsKRgemghb8/s1600/4802-4806.jpg");
	width:100vw; 
	height:100vh; 
	background-size: cover;
}

div.btn .btn-warning{
	width: 100%; 
	background: rgba(0,0,0, 0.3);
	padding-left:10px;
	margin-left: 10px;
	border-color: rgba(0,0,0,0.3);
}
textarea.fourm{
	background-color: rgba(255,255,255,0.5);
}

